# compiled binaries
*.o
*.out
*.exe

# executables
# cpp00
phonebook
megaphone
#cpp01
zombie
brain
game
sedpp
harl
harlFilter
tests
# cpp02
fixed

# build artifacts
*.dSYM/
*.a

# neovim / vim
*.swp
*.swo
*.swn
Session.vim
.netrwhist
tags

# OS
.DS_Store
Thumbs.db
