# compiled binaries
*.o
*.out
*.exe

# executables
phonebook
megaphone
zombie
brain
game
sedpp
harl
harlFilter
tests

# build artifacts
*.dSYM/
*.a

# neovim / vim
*.swp
*.swo
*.swn
Session.vim
.netrwhist
tags

# OS
.DS_Store
Thumbs.db
